.swal2-select {
    border: 1px solid lightgray;
    border-radius: 4px;
}
.color-base {
    background-color: #7E57C2 !important;
}
.color-base--text {
    color: #7E57C2 !important;
}
.color-base-2 {
    background-color: #9575CD !important;
}
.color-base-2--text {
    color: #9575CD !important;
}
.color-header-1 {
    background-color: #f6f7f9;
    border-color: #f6f7f9;
}